@model IEnumerable<Vaistine.Areas.Stores.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<h3>
    <div class="col-md-2">
        Склады
    </div>
    <div class="col-md-2">
        <a asp-area="Stores" asp-controller="Stores" asp-action="Create">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Склад
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="Stores" asp-controller="Stores" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Descr)
                </a>
            </td>
            <td>
                <a asp-area="Cags" asp-controller="Cags" asp-action="Details" asp-route-id="@item.OwnerId">
                    @Html.DisplayFor(modelItem => item.Owner.Descr)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccount)
            </td>
            <td>
                <a asp-area="Stores" asp-controller="Stores" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fas fa-trash-alt text-danger"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
