@model IEnumerable<Vaistine.Areas.Cags.Models.Cag>

@{
    ViewData["Title"] = "Контрагенты";
}

<h3>
    Контрагенты 
    <a asp-area="Cags" asp-controller="Cags" asp-action="Create">
        <i class="fas fa-plus"></i>
    </a>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th style="width:5%">

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="Cags" asp-controller="Cags" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Descr)
                </a>
            </td>
            <td>
                <a asp-area="Cags" asp-controller="Cags" asp-action="Details" asp-route-id="@item.ParentId">
                    @Html.DisplayFor(modelItem => item.Parent.Descr)
                </a>
            </td>
            <td>
                <a asp-area="Cags" asp-controller="Cags" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fas fa-trash-alt text-danger"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
