@model Vaistine.Areas.Docs.Models.DocHead

@{
    ViewData["Title"] = "Details";
    string DocHeader;
    if (Model.FromStore.IsAccount)
    {
        if (Model.ToStore.IsAccount)
        {
            DocHeader = "Накладная на перемещение";
        }
        else
        {
            DocHeader = "Расходная накладная";
        }
    }
    else
    {
        if (Model.ToStore.IsAccount)
        {
            DocHeader = "Приходная накладная";
        }
        else
        {
            DocHeader = "Ошибочный документ!!!";
        }
    }
 }

<h2>@DocHeader @Model.Descr</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromCagId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromCag.Descr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromStoreId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromStore.Descr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToCagId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToCag.Descr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToStoreId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToStore.Descr)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.DocLines)
        {
            <tr>
                <td>@item.Good.Descr</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("C")</td>
                <td>@((item.Price * item.Quantity).ToString("C"))</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
