@model Vaistine.Areas.Goods.Models.Unit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseUnit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
